
/*section about*/
.picture-me {
    max-width: 150px;
    border-radius: 90%;
  }
  #name{
      font-size: 1.3rem;
      color: #29374d;
      margin:  10px 0 0;
  }
  #position{
      font-style: italic;
      font-size: 0.9rem;
      margin: 0 0 50px;
  }