
button {
    margin: 5px;
  padding: 10px;
  color: white;
  background-color: red;
  font-size: 0.8rem;
  border: 2px solid white;
}

button:hover {
  border: 2px solid red;
  color: red;
  background-color: white;
}

.buttons{
     display: flex;
     
      flex-direction: row;
      justify-content: center;
  

}

