/* */
.header{
	display: flex;
	flex-direction: column;
}


.head-color {
	background-color: #29374d;
  }
  
  .head {
	margin: 0;
   padding: 50px;
	background-image: url("/images/main-pic.gif");
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
  }