

.main-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #29374d;

  }
  
  .logo-text {
    font-size: 1.0rem;
  }

  @media (min-width: 650px) {
    .logo-text {
      font-size: 1.2rem;
    }
  }

 