/*reference*/
.references-box{
    width: 100%;
  }
  
  .reference-arrow{
    display: flex;
   align-items: stretch;
  }
  
  .arrow{
    width: 30px;
    margin: 10px;
  }
  
  .reference {
    display: flex;
  }
  .produkt{
    border-radius: 5px;
      background-color: white;
      margin-right: 30px;
      width: 50%;
  
  }
  
  .reference-one {
     width: 100%;
  
  }
  .produkt p{
      padding: 20px;
      text-align: center;
  }
  