.work{
text-align: center;
background-color: lightgrey;

}
.project{
    align-items: center;
    justify-content: space-evenly;
}


.right{
    display: flex;
    flex-direction: row;
  
}

.left{
    display: flex;
    flex-direction: row-reverse;
}

.project__img{
    max-width: calc(100%/2);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__link{
    margin: 0;
}
.projekt__button{
    background-color: #29374d;
}

.project__a{
    text-decoration: none;
   color: grey;
}

@media (min-width: 780px) {
    .project__img{
        width: 200px;
    }

    .work__projects{
        display: flex;
        .project{
            width: calc(100%/2);
           
        }

        button{
            width: 100px;
        }
    }
  }