<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
    
<script src="/script/script.js"></script>
    <title>Webki</title>
  </head>

  <body id="home">
    <header class="header" id="header">
      <div class="main-line">
        <div class="logo">
          <a href="/index/"><h6 class="logo-text">Webki</h6></a> 
        </div>